*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    background-color: rgb(111, 199, 226);
    padding: 0px;
    text-decoration: none;
    color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    word-spacing: 10px;
    font-size: 30px;
    

}
.signbox{

}
.footer{
   position: fixed;
   padding: 10px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(111, 199, 226);
   color: blue;
   text-align: center;
}
.aclas{
    text-decoration: none;
    color: black;
}
